body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 2em;
}

h1, h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid #ddd;
}

.download-button {
    display: inline-block;
    padding: 1em;
    background-color: #333;
    color: white;
    text-decoration: none;
    margin-top: 1em;
}

.download-button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.game-screenshot, .feature-image {
    display: block;
    margin: 1em auto;
    width: 300px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.center {
    display: flex;
    justify-content: center;
}
